/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hmr_layer: hmr_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&hmr ESCAPE TAB  &kp Q  &kp W  &kp E               &kp R  &kp T               &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL        &kp A  &kp S  &hmr_layer 3 D      &kp F  &kp G               &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT        &kp Z  &kp X  &kp C               &kp V  &kp B               &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ENTER
                               &hmr LEFT_GUI HOME  &mo 2  &hmr_layer 4 END    &kp SPACE  &mo 1  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };

        num {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N7        &kp N8        &kp N9        &kp MINUS  &kp PLUS
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp ASTRK  &kp SLASH
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans     &trans
                        &trans  &trans  &trans    &kp N0  &trans        &trans
            >;
        };

        arrow_fn {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans         &trans          &kp UP_ARROW  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans         &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans         &trans          &trans        &trans     &trans  &trans
                        &trans  &trans  &trans    &kp RIGHT_ALT  &trans          &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP       &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans      &kp C_BRI_DEC      &kp C_BRIGHTNESS_INC  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans      &trans             &trans                &trans  &trans
                        &trans  &trans  &trans    &trans  &trans      &trans
            >;
        };
    };
};
